*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:pink;
    font-family:Arial,sans-serif;

    /* SCROLL FIX */
    overflow-y:scroll;

    min-height:100vh;
}

.container{

    width:90%;

    max-width:900px;

    margin:50px auto;

    background:white;

    padding:40px;

    border-radius:20px;

    text-align:center;
}

h1{

    color:#ff0066;

    margin-bottom:20px;
}

h2{

    color:#ff3385;

    margin-bottom:20px;
}

p{

    font-size:22px;

    line-height:2;

    margin-bottom:20px;
}

button{

    padding:15px 30px;

    border:none;

    border-radius:30px;

    background:#ff0066;

    color:white;

    font-size:18px;

    cursor:pointer;
}

/* BIG EMPTY SPACE FOR TEST */

.space{

    height:1000px;

    background:lightpink;

    margin-top:20px;
}